.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

#sf_admin_container .sf_admin_form_row {
  overflow: hidden;
}

#sf_admin_container .sf_admin_form_row .content.no_label {
  padding-left: 0px !important;
}

#sf_admin_container .content_block_editor_control .sf_admin_form_row {
  border-bottom: none;
}

.folderTree {
  overflow: hidden;
  margin: 5px;
  padding: 10px;
  min-width: 600px;
  border: 1px solid #CCC;
  border-radius: 1em;
  box-shadow: 2px 2px 5px 2px #DDD;
  margin: 2em 0;
  background: white;
}

  .folderTree ul {
    margin: 0 0 0 20px;
    padding: 0;
  }
  
  .folderTree li {
    border-top: 1px solid #DDD;
    list-style-type: none;
  }
  
    .folderTree li.root {
      border-top: none;
    }
    
    .folderTree li div {
      position: relative;
      margin: 3px;
      padding: 3px;
    }
    
      .folderTree li div.hover {
        background: #ffc;
      }
    
  .folderTree .lnk {
    overflow: hidden;
    width: 250px;
  }

  .folderTree .nodeinfo {
    margin: 0 10px 0 20px;
    position: absolute;
    right: 125px;
    top:   3px;
    text-align: right;
    width: auto;
    color: #5bb838;
  }
    .folderTree .nodeinfo.hidden {
      color: #666;
    }
    .folderTree .nodeinfo.locked {
      color: #0085c5;
    }
    .folderTree .nodeinfo.notpublished,
    .folderTree .nodeinfo.deleted {
      color: #ff0000;
    }
    .folderTree .nodeinfo.blank {
      
    }

  .folderTree .sitetree_actions {
    width: 120px;
    position: absolute;
    top: 3px;
    right: 0px;
  }

    .folderTree .sitetree_actions .spacer {
      display:inline-block;
      width:16px;
      height:16px;
    }

#breadcrumbs {
  
}

#sf_admin_content .listing_content fieldset {
  border: none;
}

.sitetreeInfo, #sf_admin_container fieldset.sitetreeInfo {
  padding: 10px;
  background: white;
  overflow: hidden;
  border: 1px solid #CCC;
  border-radius: 1em;
  box-shadow: 2px 2px 5px 2px #DDD;
  margin: 2em 0;
}

  .sitetreeInfo p, .sitetreeInfo h3 {
    padding: 0; 
    margin: 0;
  }
  
  .sitetreeInfo h3 { margin-bottom: 5px; }
  
  .copySitetree { width: 62%; }

.site_sitetree_locked,
.site_sitetree_hidden,
.site_sitetree_published,
.site_sitetree_not_published,
.site_sitetree_editing {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10px;
  color: #5bb838;
}
.site_sitetree_locked {
  color: #0085c5;
}
.site_sitetree_hidden {
  color: #000;
}
.site_sitetree_not_published {
  color: #ff0000;
}
.site_sitetree_editing {
  color: #00B585;
}

.content_block_editor_items {
  padding: 1em; 
}

.tab-wrapper {
  padding: 1em 1.5em;
  margin: 0;
  clear: both;
  background: white;
  border: 1px solid #CCC;
  border-radius: 0 1em 1em 1em;
  box-shadow: 2px 2px 5px 2px #DDD;
  margin: 0px 0px 2em;
}

.tab-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  margin-bottom: -1px;
}

  .tab-menu li {
    margin: 0;
    padding: 3px 1em;
    float: left;
    line-height: 2em;
    list-style-type: none;
    border-radius: 0.5em 0.5em 0 0;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: none;
    background: white;
    cursor: pointer;
  }
  
    .tab-menu li.tab-selected {
      border-bottom: 1px solid white;
    }
  
    .tab-menu li a {
      padding: 0 .5em;
      font-weight: bold;
    }
  
    .tab-menu li a:hover,
    .tab-menu li a:focus { 
      
    }

    .tab-menu li.tab-selected a {
      text-decoration: none;
      color: inherit;
    }

#sf_admin_container .site_notice { 
  background-color: white;  
  color: #666;
}

.superPagerPagination {
  float: right;
}

  .superPagerPagination .sel {
    font-weight: bold;
  }
  
  .superPagerPagination a {
    margin-left:   5px;
  }
  
#translation {}
  
  #translation .nav {
    margin-left: 0;
  }
    
    #translation .nav li {
      list-style: none;
      margin-right: 0.5em;
      float: left;
      font-size: 1.5em;
    }
  
  #translation label.long {
    width: 50%;
  }
  
  #translation textarea {
    width: 50% !important;
    height: 5em; 
  }
  
  #translation .small {
    font-size: 0.8em;
  }