# default configuration
all:
  site:
    # define site locally
    identifier:           en
    definition:
      name:               project name
      cultures:           [en_GB]
      default_culture:    en_GB
      root_module:        default
      
    available_modules:  
      - sitemap
      - pageDisplay
      - listingDisplay
      
    default_site:               en  # define locally
      
    # default settings
    include_culture_in_routes:  false
    managed_app:                frontend
      
    # default classes - change if override locally
    routing_proxy_class:        siteRoutingProxyImpl
    manager_class:              siteManager
    
    # page stuff
    page_manager_class:         pageManager
    page_template_dir:          %SF_ROOT_DIR%/templates/page
    
    # define your own templates locally
    #page_templates:
    
    # listing stuff
    listing_manager_class:      listingManager
    listing_template_dir:       %SF_ROOT_DIR%/templates/listing
    listing_title_separator:    '-'
    
    # define your own templates locally
    #listing_templates: